.env
.env.local
.env.*.local
.cache/
build/
dist/
/clawdbot
/clawdbot-*
node_modules/
.DS_Store
*.log
*.out
*.prof
*.test
*.tsbuildinfo
coverage/
.next/
**/.next/
**/target/
web/frontend/dist/
zk-primitives/**/node_modules/
zk-primitives/**/.env
zk-primitives/**/.env.local
zk-primitives/**/dist/
